<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <hr class="star-light">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p>Meet Cheryl - A Kindness Advocate & Change Facilitator</p>
        <p>Why choose Cheryl for your Journey?</p>
      </div>
      <div class="col-lg-4">
        <p>With over 25 years of experience Social Work and Nursing, Cheryl has worked in community health settings, public and private hospital settings, government, non-governmental organisations and private practice. She specialises in external supervision and career guidance, substance  & harm reduction and behaviour change models for individuals, groups and organisations. </p>
        <p>Cheryl comes from a blend of different modalities including but not limited to: Motivational Interviewing, Acceptance and Commitment Therapy, and CBT & emotion coaching. Most importantly, Cheryl considers herself a kindness advocate in the human journey. </p>
        <p>Cheryl provides BCP courses for VicRoads as an Accredited Behaviour Change Facilitator and she is a registered Social Worker with the AASW. </p>
        <p>For inquiries - contact Cheryl. </p>
      </div>
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <a href="https://github.com/jeromelachaud/freelancer-theme" class="btn btn-lg btn-outline">
          <i class="fa fa-download"></i> Download Theme
        </a>
      </div>
    </div>
  </div>
</section>
